{%extends "meanTemplate.twig"%}

{%block addJob%}
  <div class="container" >
    <div class="row mt-3">
      <div class="col-8 offset-2 col-lg-4 offset-lg-4 rounded p-4" style="border: 1px solid #fff;">
        <h1 class="mb-3">Add job!!</h1>
        <div class="alert alert-info mb-5" role="alert">{{responseMessage}}</div>
        <form  action="/job/add" method="post" enctype="multipart/form-data">
          <label for="">Title</label>
          <input name="title" type="text"><br/><br/><br/>
          <input name="logo" type="file" /><br/><br/>
          <label for="">Description:</label><br>
          <textarea name="description" cols="30" rows="7"></textarea><br/><br/><br/>
          <label for="">Months</label>
          <input name="month" type="number"><br/><br/><br/>
          <label for="">Visible</label>
          <input name="visible" id="checkbox" type="checkbox" value="true"><br/><br/><br/>
          <button type="submit" type="button" class="btn btn-danger">Save</button>
        </form>
      </div>
    </div>
  </div>  
{%endblock%}
