
{%extends "meanTemplate.twig"%}

{%block login%}
  <h1>Dashboard</h1>
  <a href="job/add" class="btn btn-primary" src="/">add job</a>
  <a href="project/add" class="btn btn-primary">add project</a>
  <a href="/" class="btn btn-primary">Index</a>

  <br><br>
  <a href="/logout" class="btn btn-primary">Logout</a>
{%endblock%}
